<!DOCTYPE html>
<html>
  <body>
    <div class='rows-background'>
      <h2 class="about">About Me</h2>
      <br>
      <div class="row conainer-fluid">
        <div class="col-xs-1 col-sm-2 col-lg-3"></div>
        <div class="about-text col-xs-10 col-sm-8 col-lg-6">
          <div class="about">
            <img src="public/images/profilepic.gif" width="200px;">
          </div>
          <br><br>
          <div>
            I am a student at CSU Chico and will be graduating in spring of 2017. I graduated high school 1 1/2 years early and then continued on to my local community college where I finished all my general education along with my lower division major classes in 3 semesters I then transferred to CSU Chico where I will be spending a total of 4 semesters; that means that I will finish college in a total of 7 semesters. I am incredibly hard working on whatever task I am set on. I love having multiple different projects going on at once and find that I work very well in a high stress environment. I am a quick study and always willing to pick up new skills.
            <br><br>
            As for hobbies I love to do DIY projects on my house whether it be yard work or <a ui-sref='bathroom'>remodeling the whole bathroom.</a> I also love to work on my car which is a 2005 Subaru WRX which was rally blue, but I am now wrapping it to make it dragonfire red. In summer of 2016 I bought a Ninja 300 motocycle to comnute on and since then have upgraded to a Ninja 650R.
	    <br><br>
	    I picked up rock climbing near the end of the spring semester in 2016 and havebeen doing a lot of indoor climbing as well as going outside as much as possible. I have gone to Eagle Falls in South Lake Tahoe, Pie Shop in South Lake Tahoe, and The Query in Auburn.
          </div>
          <br>
        </div>
        <div class="col-xs-1 col-sm-2 col-lg-3"></div>
      </div>
    </div>
  </body>
</html>
