<!DOCTYPE html>
<html>
  <body>
    <div class='rows-background'>
      <h2 class="about">About Me</h2>
      <br>
      <div class="row conainer">
        <div class="col-md-2 col-lg-3"></div>
        <div class="about-text col-sm-12 col-md-8 col-lg-6">
          <div class="about">
            <img src="public/images/profilepic.gif" width="200px;">
          </div>
          <br><br>
          <div>
            I am a student at CSU Chico and will be graduating in spring of 2017. I graduated high school 1 1/2 years early and then continued on to my local community college where I finished all my general education along with my lower division major classes in 3 semesters I then transferred to CSU Chico where I will be spending a total of 4 semesters; that means that I will finish college in a total of 7 semesters. I am incredibly hard working on whatever task I am set on. I love having multiple different projects going on at once and find that I work very well in a high stress environment. I am a quick study and always willing to pick up new skills.
            <br><br>
            As for hobbies I love to do DIY projects on my house whether it be yard work or <a ui-sref='bathroom'>remodeling the whole bathroom.</a> I also love to work on my car which is a 2005 Subaru WRX which was rally blue, but I am now wrapping it to make it dragonfire red. I have also recently started going to a lot of concerts since I started my internship in Livermore.
          </div>
          <br>
        </div>
        <div class="col-md-2 col-lg-3"></div>
      </div>
    </div>
  </body>
</html>
