<!DOCTYPE html>
<html>
  <head>
<!-- Use this to make table sortable
      NOTE:  un comment the links to the CDN's in index.html
    <script>
      $(document).ready(function() {
        $('#chico').dataTable();
      });
    </script> -->
  </head>
  <body>
    <div class="rows-background" ng-controller="EducationCtrl">
      <ul class='breadcrumb' style="background-color: rgba(255,255,255,.5);">
        <li ng-repeat='school in schools'>
            <a ng-click='$parent.show = school.id'>{{school.name}}</a>
        </li>
      </ul>
      <div ng-switch on='show' style="margin-left: .5em;">
        <table id='chico' ng-switch-when='chico' class="table table-striped container">
          <thead>
            <tr style="text-align:center">
              <th>Course Number</th>
              <th>Course Name</th>
              <th>Grade Received</th>
              <th>Taken (Year Semester)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='course in chicoCourses'>
              <td>{{course.number}}</td>
              <td>{{course.name}}</td>
              <td>{{course.grade}}</td>
              <td>{{course.date}}</td>
            </tr>
          </tbody>
        </table>
        <table id='chico' ng-switch-when='butte' class="table table-striped container">
          <thead>
            <tr>
              <th>Course Number</th>
              <th>Course Name</th>
              <th>Course Description</th>
              <th>Grade Received</th>
              <th>Taken (Year Semester)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='course in butteCourses'>
              <td>{{course.number}}</td>
              <td>{{course.name}}</td>
              <td>{{course.desc}}</td>
              <td>{{course.grade}}</td>
              <td>{{course.date}}</td>
            </tr>
          </tbody>
        </table>
        <div ng-switch-when='inspire'>inspire</div>
      </div>
    </div>
  </body>
</html>
