<!DOCTYPE html>
<html>
  <body>
    <div class="rows-background" ng-controller="ProjectsCtrl">
      <h2 style="margin-left: .5em;">Projects</h2>
      <br>
      <div class="container-fluid">
        <div class="col-xs-12 col-sm-4 col-lg-4 rows" ng-repeat="project in hrefProjects">
          <span class="project-name">{{project.name}}</span>
          <a href="{{project.link}}" target="_blank">
          <div class="project">
            <img style="opacity: 1;" ng-src="public/images/{{project.image}}"/>
          </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4 rows" ng-repeat="project in srefProjects">
          <span class="project-name">{{project.name}}</span>
          <a ui-sref="{{project.link}}">
          <div class="project">
            <img style="opacity: 1;" ng-src="public/images/{{project.image}}"/>
          </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
