<!DOCTYPE html>
<html>
  <body>
    <div ng-controller="ProjectsCtrl" class='rows-background'>
      <h2 style="margin-left: .5em;">Vynle Wrap</h2>
      <br>
       <div class="row container-fluid">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <h3>Images coming soon</h3>
          <!--<div class='content' style="padding-bottom:15px;" ng-click="bathroomModal($index)">
            <img ng-src="public/images/bathroom/{{image.thumbUrl}}" width="250px" height="250px">
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
