body {
  overflow-x: hidden;
}

.div_img {
  max-width:100%; 
  max-height:100%;
  object-fit: contain;
  margin:auto;
  display:block;
}

.sidebar {
  background: #475559;
  padding-left: 5px;
}

@media (min-width: 769px) {
  .bordered {
    outline: 2px solid black;
    height: 12em;
    outline-offset: -14px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media (max-width: 768px) {
  .bordered {
    outline: 2px solid black;
    margin-right: 4%;
    margin-left: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 12em;
  }
}

a.contact_text {
  font-family: "Arial", Helvetica, "san-serif";
  font-size: 1.2em;
  font-weight: bold;
  color: #D9DDDE;
}

span.contact_text {
  font-family: "Arial", Helvetica, "san-serif";
  font-size: 1.5em;
  font-weight: bold;
  color: #D9DDDE;
}

h1 {
  font-family: "Arial", Helvetica, "san-serif";
  font-size: 2.1em;
  font-weight: bold;
  color: #3F494D;
  overflow-x: hidden;
  text-align: left;
}

.side {
  background: inherit;
}

@media (min-width: 768px) {
  .non_static {
    position: relative;
    margin-left: 16em;
    padding: 0 4% 0 5%
  }
}

.static {
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 15em;
}

.photo {
  background: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contact {
  text-align: center;
  background: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
}

